@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Micro+5&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
}
:root {
  --bird: #dc3545;
  --birdWing: #b7fffb;
  --birdBico: #ffc107;
  --cano: #28a745;
  --posicaoY: 0;
  --posicaoYFinal: 0;
}
body {
  position: relative;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background-color: #eee;
}
#gameOverBg{
  width: 120vw;
  height: 120dvh;
  background-color: white;
  opacity: 0;
  position: absolute;
  z-index: 1000;
}
.bird {
  position: absolute;
  left: 100px;
  width: 60px;
  height: 60px;
  border-radius: 7px;
  background-color: var(--bird);
  z-index: 10;
}
.bird::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 30px;
  height: 25px;
  border-radius: 7px;
  background-color: var(--birdBico);
}
.bird::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -10px;
  width: 30px;
  height: 25px;
  border-radius: 7px 0 0 7px;
  background-color: var(--birdWing);
}
/* começo do cano */
.canoBottom,
.canoTop {
  width: 200px;
  height: 50dvh;
  background-color: var(--cano);
  position: absolute;
  z-index: 1;
}
.canoTop {
  left: 0;
  bottom: 70dvh;
}
.canoTop::before {
  content: "";
  position: absolute;
  background-color: #dc3545;
  width: 250px;
  height: 5dvh;
  bottom: -5dvh;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
}
.canoBottom {
  bottom: -20dvh;
}
.canoBottom::before {
  content: "";
  position: absolute;
  background-color: #dc3545;
  width: 250px;
  height: 5dvh;
  top: -5dvh;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
}
/* final do cano */

  /* tela de Game Over */
.game-over {
  display: none; /* Oculto no ocomeço do jgo */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 48px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 20;
}

#again {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 24px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#instructions {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  width: 300px;
  top: 40vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 15;
}
#titleInstructions {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}
#score{
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  color: white;
  -webkit-text-stroke: 3px black;
}
@keyframes gameOverBirdo {
  0%{transform: translateY(var(--posicaoY)) rotate(0deg);}
  100%{transform: translateY(calc(var(--posicaoYFinal) - 60px)) rotate(90deg);}
}
@keyframes gameOverBg {
  0%{opacity: 0.5;}
  50%{opacity: 0.8;}
  100%{opacity: 0; display: none;}
}
@keyframes tremor {
  0%   { transform: translate(0, 0); }
  20%  { transform: translate(-3px, 2px); }
  40%  { transform: translate(3px, -2px); }
  60%  { transform: translate(-3px, -2px); }
  80%  { transform: translate(3px, 2px); }
  100% { transform: translate(0, 0); }
}